# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
/media
/staticfiles

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDEs
.idea/
.vscode/

